.but{
    margin-left: 365px;
}
body{
    background-image: url('images/cinema.jpg');
    background-size: 100% 100%;
}
#enregistrer{
    display: flex;
    justify-content: center;
}
.filmsname{
    text-align: center;
}

p{
    text-align: center;
    color:blue;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}
    
